<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
 <appenders>
         <Console name="Console" target="SYSTEM_OUT">  
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} -{Method:%M } %msg%n" />  
        </Console> 
        <File name="MyFile" fileName="app.log">  
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} -{Method:%M } - %msg%n" />  
        </File>  
 </appenders>

 <Loggers>  
        <Logger name="mylog" level="debug" additivity="true">  
            <AppenderRef ref="MyFile" />  
        </Logger>  
        <Root level="debug">  
            <AppenderRef ref="Console" />  
        </Root>  
</Loggers> 
</Configuration>